{% extends 'base.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block body %}
    <h1>Categoria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorium.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ categorium.titulo }}</td>
            </tr>
        </tbody>
    </table>
    
        <h2>Posteos in this Categoria</h2>
        
        {% if categorium.posteos|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for posteo in categorium.posteos %}
                <tr>
                    <td>{{ posteo.id }}</td>
                    <td>{{ posteo.titulo }}</td>
                    <td>{{ posteo.descripcion }}</td>
                    <td>
                        <a href="{{ path('app_posteo_show', {'id': posteo.id}) }}">show</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No posteos found in this categoria.</p>
    {% endif %}

    <a href="{{ path('app_categoria_index') }}">back to list</a>

    <a href="{{ path('app_categoria_edit', {'id': categorium.id}) }}">edit</a>

    {{ include('categoria/_delete_form.html.twig') }}
{% endblock %}
