{% extends 'base.html.twig' %}

{% block title %}Comentario index{% endblock %}

{% block body %}
    <h1>Comentario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Posteo_titulo</th>
                <th>Descripcion</th>
                <th>Usuario</th>
                <th>fecha_comentario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td>{{ comentario.id }}</td>
                <td>{{ comentario.posteo.titulo }}</td>
                <td>{{ comentario.descripcion }}</td>
                <td>{{ comentario.usuario.username }}</td>
                <td>{{ comentario.fecha|date('F j, Y') }}</td>
                <td>
                    <a href="{{ path('app_comentario_show', {'id': comentario.id}) }}">Ver</a>
                    <a href="{{ path('app_comentario_edit', {'id': comentario.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
